h4.comment-meta {
	position: relative;
}
.author-com-count {
	float: right;
}
#the-comment-list .author-com-count .post-com-count ~  .post-com-count-no-pending {
	margin-right: 24px;
	display: inherit;
	background-color: transparent;
	color: transparent;
	font-size: 0;
}
.column-commenters_count {
	width: 74px;
	text-align: center;
}